#root {
  margin-top: 50px;
  margin-left: 150px;
}

.head-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;

  font-size: 1.3em;
  background-color: #ddd;
}

.head-menu .pure-menu-selected .pure-menu-link {
  background-color: #fff;
}

.sidebar {
  position: fixed;
  width: 150px;
  left: 150px;
  margin-left: -150px;
  box-sizing: border-box;
  overflow: auto;
}


.sidebar h2 {
  font-size: 1.2em;
  margin-top: 0;
  display: none;
}

.pure-menu-link {
  white-space: normal;
}

.main {
  padding: 10px;
}

.main h3 {
  font-size: 1.1em;
  margin-top: 0;
}


.pure-form-aligned .pure-controls {
  margin-left: 7em;
}

.pure-form-aligned .pure-control-group label {
  width: 6em;
}

@media only screen and (max-width: 480px) {
  .pure-form-aligned .pure-controls {
    margin-left: inherit;
  }
  .pure-checkbox label {
    display: inline;
  }
}


.find-button {
  margin: -1em 0 1em;
}

@keyframes radar {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.searching {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.searching:before {
    content: '';

    display: inline-block;

    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    box-sizing: border-box;

    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;

    width: 20px;
    height: 20px;

    animation: radar 1s ease-in-out infinite;
}
